/*border-box sets default behavior of element to include padding and border in an element's total width and height*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*sets default background for body of page*/
body {
    background-color: #d9dcd6;
}

/*sets formatting for header element of page*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
x`
/*formats company name in header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*formats letters "seo" of Horiseon different color than the rest of the letters*/
.header h1 .seo {
    color: #d9dcd6;
}

/*formats navigation links*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


/* sets list of navigation links to not have a list style type*/
.header nav ul {
    list-style-type: none;
}


/*formats link items to display horizonally and spaces them apart according to the number of pixels shown*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*formats hyperlink font to color shown and displays hyperlink without a line*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*formats paragraph text to be the size shown*/
p {
    font-size: 16px;
}

/*formats the image just below the header*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg" ) ;
    background-size: cover;
    background-position: center;
}

/*places image for SEO and social media marketing div elements on the left hand side of the associated text*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*places image for SEO and social media marketing div elements on the left hand side of the associated text*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Sets global formatting for content section*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*sets global margins and color for each element in content section*/
.content-items {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*formats the headers for each of the headers in the content section*//
.content-items h2 {
    margin-bottom: 20px;
        font-size: 36px;
}

/*formats each of the images in the content section*/
.content-items img {
    max-height: 200px;
}
/*positions benefit section of the page in the available space to the right of content section of page*/
.benefits {
    margin-right: 20px;
    margin-bottom: 32px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*sets global margins and color for each element in benefits section*/
.benefit-items {
    margin-bottom: 32px;
    color: #ffffff;
}
/*formats the header for each of the benefits shown in benefits section*/
.benefit-items h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*formats each of the images shown in the benefits section*/
.benefit-items img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/*global formatting for footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*formats the heading inside the footer*/
.footer h2 {
    font-size: 20px;
}
